[color]
	ui = auto
[user]
	email = jw@justinwhite.net
	name = Justin White
[push]
	default = simple
[credential]
	helper = wincred
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
